@media screen and (max-width: 576px) {
    .foto{
        width: 100%;
    }
    .foto1{
        width:60%;
    }
    .foto2{
        width: 60%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .contenedorPadreMainEquipo{
        grid-template-columns:repeat(1, auto);
        grid-template-rows: repeat(26, auto);
        grid-template-areas:
        "tituloEquipo"
        "jugador1"
        "jugador2"
        "jugador3"
        "jugador4"
        "jugador5"
        "jugador6"
        "jugador7"
        "jugador8"
        "jugador9"
        "jugador10"
        "jugador11"
        "jugador12"
        "jugador13"
        "jugador14"
        "jugador15"
        "jugador16"
        "jugador17"
        "jugador18"
        "jugador19"
        "jugador20"
        "jugador21"
        "jugador22"
        "jugador23"
        "jugador24"
        "jugador25";
    }
    .contenedorPadreMainTitulos{
        grid-template-columns: repeat(1, auto); 
        grid-template-rows: repeat(14, auto);
        grid-template-areas:
        "tituloTitulos"
        "titulo1"
        "titulo2"
        "titulo3"
        "titulo4"
        "titulo5"
        "titulo6"
        "titulo7"
        "titulo8"
        "titulo9"
        "titulo10"
        "titulo11"
        "titulo12"
        "titulo13"; 
    }    
    .contenedorHijoHeader{
        flex-direction: column;
    }
    .menu{
        justify-content: center;
    }
    .comentarios{
        width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width:1150px){
    .contenedorPadreMainEquipo{
        grid-template-rows: repeat(14, auto);
        grid-template-columns:repeat(2, auto);
        grid-template-areas:
        "tituloEquipo tituloEquipo"
        "jugador1 jugador2"
        "jugador3 jugador4"
        "jugador5 jugador6"
        "jugador7 jugador8"
        "jugador9 jugador10"
        "jugador11 jugador12"
        "jugador13 jugador14"
        "jugador15 jugador16"
        "jugador17 jugador18"
        "jugador19 jugador20"
        "jugador21 jugador22"
        "jugador23 jugador24"
        "jugador25 jugador25";
    }   
    .foto{
        width: 100%;
    }
    .foto1{
        width: 50%;
    }
    .contenedorPadreMainTitulos{
        grid-template-rows: repeat(8, auto);
        grid-template-columns: repeat(2, auto);  
        grid-template-areas:
        "tituloTitulos tituloTitulos"
        "titulo1 titulo2"
        "titulo3 titulo4"
        "titulo5 titulo6"
        "titulo7 titulo8"
        "titulo9 titulo10"
        "titulo11 titulo12"
        "titulo13 titulo13";
    }  
    .comentarios{
        width: 100%;
    }  
}